<h1>Burgers!</h1>

{{#each burgers}}
	{{#unless this.devoured}}
		<div>
			<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
				<button type="submit" class="uneatenBurger">{{this.burger_name}}</button>	
			</form>
		</div>
		{{/unless}}
{{/each}}

{{#each burgers}}
	{{#if this.devoured}}
		<div class="eatenBurger">
			{{this.burger_name}}
		</div>
	{{/if}}
{{/each}}

<h2>Add a Burger</h2>

<form action="/api/burgers" method="POST">
	<input type="text" name="burger_name">
	<input type="submit" value="submit">
</form>