<h1>Burgers!</h1>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{> burgers/burger-block devoured=false}}
		{{/unless}}
	{{/each}}
</ul>	

<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{> burgers/burger-block devoured=true}}
		{{/if}}
	{{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="createForm">
	<input type="text" id="burgerName" name="burger_name">
	<input type="submit" value="submit">
</form>