.mainHead {
	font-family: 'Special Elite', cursive;
}

.form {
	margin: auto;
  width: 75%;
}

.createForm {
	padding: 30px;
}

.content, .menu {
	font-family: 'Open Sans Condensed', sans-serif;
}

.menu {
	font-size: 20px;
}

body {
	padding-bottom: 100px;
}

ul, .menu {
	margin-bottom: 100px;
}

li {
	list-style-type: none;
	padding: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px
}

li button {
	float: right;
}
